
    * {
        margin: 0;
        padding: 0;
        font-family: Segoe Script, sans-serif;
    }

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: #1e1e1e;
    }

    .leftPart {
        display: flex;
        flex-basis: 50%;
        height: 100vh;
        background-color: #212121; 
        flex-direction: column;
        gap: 20px;
        color: #fff;
    }

    .content {
        flex-basis: 33%;
        background-color: #2a2a2a;
        padding: 10px; 
    }

    .rightPart {
        flex-basis: 50%;
        height: 100vh;
        background-color: #333; 
        color: #fff;
    }

    .leftPart .content label {
        display: block;
        color: #ccc; 
        padding: 10px 0;
    }

    .leftPart .content textarea {
        width: calc(100% - 20px);
        height: calc(82% - 20px);
        outline: none;
        border: none;
        background-color: #333; 
        color: #fff;
        padding: 10px;
        font-family: 'Segoe Script', sans-serif; 
    }

    .rightPart label {
        display: block;
        padding: 10px;
        background-color: #444; 
        color: #ccc; 
    }

    .rightPart iframe {
        display: block;
        width: 100%;
        height: 90%;
        border: 1px solid #555;
        box-sizing: border-box;
    }

    textarea{
        font-family: sans-serif;
    }
